body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: linear-gradient(38deg, rgba(142,37,190,1) 0%, rgba(15,139,243,0.6393907904958859) 51%, rgba(221,78,208,1) 100%);}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  background: lightgray;
  border-bottom: solid 1px #000000;
  border-left: 1px solid black;
}

.col-2{
  border-right: 1px solid black;
}

.col-9{
  background-color: lightgray;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  list-style: none;
}

.row {
  height: 80px;
  border-top: 1px solid black;
}

.hour {
  background-color: transparent;
  color: #000000;
  border-top: 1px dashed #000000;
  font-weight: bold;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  align-items: center;
  font-size: large;
  border-bottom: 1px solid black;
}

.saveBtn i{
  padding-top: 30px;
  padding-left: 30px;
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all .3s ease-in-out;
  color: black;
}
